/*
CSS for twbf.github.io 
*/

@import url(http://fonts.googleapis.com/css?family=Audiowide);
body{
  background-image:url(images/light-red-sun.JPG);
  background-attachment:fixed;
  background-size:100%;
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/* Style For Heading  rgba(255, 10, 10, 0.15)*/

h4 { 
  color:#B40404;
  text-align:center;
  position:relative;
  top:-7px;
}
header {
  font-family: 'Audiowide', cursive;
  font-weight:400;
}
h1 {
  color:rgba(215, 26, 22, 0.8);
  text-align:center;
  font-size:3em;
}
.faint {
  position: absolute;
  top: -130px;
  color:rgba(255,255, 255, 0.35);
  font-size:calc(500% + 5em);
  text-align:center;
  width: 100%;
}
h2 {
  color:#5F1644;
  font-size:1.45em;
}

/*HTML elements*/

a:hover {
  background-color:#D8D8D8;
}
img[src="http://bueler.github.io/personal/DSC00600.JPG"]{
  padding-top:20px;
}
table {
    border-collapse: collapse;
}
span{
  color: #8C3573;
}
th,td{
  padding:10px;
}
li {
  margin-bottom:15px;
}
button {
  position:absolute;
  top:230px;
  left:225px;
}

/* Clases */

.writing {
  font-family:Arial, Helvetica, sans-serif;
  font-size:1.2em;
  padding:5px;
}
.calender{
  float:left;
  margin-right:5px;
}
.aboutme{
  width:calc(100% - 60px);
  max-width:1500px;
  min-width:240px;
  clear:both;
  padding:3px;
}
.calender,.aboutme,.reading,.links,.writing {
  margin:20px;
  background-color:rgba(255, 255, 255, 0.25);
}
.border1 {
  border:1px solid black;
}
.personalpicture{
  float:left;
  margin:20px;
}
.line{
  border-bottom:1px solid black;
  padding-bottom:20px;
}
.page{
  color:#413FAA;
}
.smallpicture{
  margin:20px;
  position:relative;
  top:20px;
  left:5px;
  width:calc(100% - 100px);
}
.main {
  position:relative;
  top:20px;
  left:5px;
  width:calc(100% - 30px);
}
.fairbanks {
  margin-bottom:20px;
  margin-top:10px;
}
.boulder {
  margin-top:10px;
}
.booktitle {
  text-decoration:underline;
  cursor:pointer;
}
.reading {
  float:left;
  padding:3px;
  max-width:450px;
}
.margin {
  margin:5px;
}
.reading li {
  margin-bottom:5px;
  padding:0px;
  line-height:1em;
}
.reading ul ul{
  margin:0px;
  padding-left:20px;
}
.reading ul{
  padding-left:20px;
}
.center{
  text-align:center;
}

/* Navigation Bar */

#navigation{
  background-color:rgba(255, 10, 10, 0.15);
  font-weight:bold;
  padding:0px;
  height:60px;
  border-radius:1em;
  -moz-box-shadow: 3px 3px 17px #7a0202;
  -webkit-box-shadow: 3px 3px 17px #7a0202;
  box-shadow: 3px 3px 17px #7a0202;
}
#navigation li {
  list-style-type:none;
  color:#720202;
  float:left;
  margin-left:70px;
}
#navigation ul{
  margin:0;
  padding:0;
}
#navigation a{
  display:block;
  text-decoration:none;
}
#navigation h2 {
  font-family: 'Audiowide', cursive;
}

/* IDs */

#currentposition{
  color:#000000;
  position:absolute;
  top:500px;
  left:800px;
}
#animation{
  background-color:#FF0000;
  height:50px;
  width:140px;
  position:absolute;
  top:215px;
  left:230px;
}
#happyday{
  position:absolute;
  top:200px;
  left:240px;
}
#happydaytitle{
  position:absolute;
  top:150px;
  left:230px;
}
#xycoord{
  position:absolute;
  top:380px;
  left:230px;
  font-size:1.5em;
}
@media screen and (max-width: 740px) {
   h1 {
     font-size:2.5em;
   }
   .faint{
     font-size:7em;
     position: absolute;
     top: -50px;
   }
}

